.banner-large{
    background-image: url("assets/images/left-banner-image.jpg");
    background-size: cover;
    height: 500px;
    padding: 50px;
}

.category{
    height: 242px;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-size:cover;
}
.women{
    background-image:url("assets/images/baner-right-image-01.jpg");
}

.men{
    background-image:url("assets/images/baner-right-image-02.jpg");
}

.kids{
    background-image:url("assets/images/baner-right-image-03.jpg");
}

.accessories{
    background-image:url("assets/images/baner-right-image-04.jpg");
}

.category2{
    margin:10px 0px 10px;
    height: 260px;
    color:black;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-size:cover;
    background-color:rgb(217, 215, 215);
}
.expwomen{
    background-image:url("assets/images/explore-image-01.jpg")
}
.expbag{
    background-image:url("assets/images/explore-image-02.jpg")
}
.news-title{
    font-weight:700;
    font-size:1.1rem;
}
.news-p{
    font-style:italic;
    color:grey;
}

button{
    border-radius:0 !important;
}
.form-cont{
    border:1px solid black !important;
    border-radius:0 !important;
}
button.telegram-btn {
    background-color: #000000 !important; 
    color: #ffffff !important;
    border: 1px solid #000000;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

button.telegram-btn:hover {
    background-color: #ffffff !important;
    color: #000000 !important;
}

button.telegram-btn:hover .material-symbols-outlined {
    color: #000000 !important;
    transform: translateX(3px) rotate(-10deg);
}
footer {
    background-color: #2a2a2a !important; /* The Hexashop Dark Gray */
    padding: 60px 0;
}
footer h6 {
    color: #fff;
    font-weight:700;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding-bottom: 15px;
}
footer ul li {
    margin-bottom: 10px;
    color: #fff;
    font-size: 14px;
}
footer ul li a{
    text-decoration:none;
    color:white;
    transition:all 0.3s;
}
footer ul li a:hover{
    color:#aaa;
}
.footer-logo img {
    max-width: 160px;
}
.footer-social a{
    color:#ccffff;
    font-size:20px;
}
.footer-social a:hover{
    color:#cc6666;
}


@media (max-width: 991px) {
    /* Target the columns directly */
    footer .footer-col {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        text-align: center !important;
        margin-bottom: 2rem;
    }

    footer ul.footer-links {
        padding-left: 0 !important;
        list-style: none;
    }
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
    transition: 0.3s;
}

.footer-links li a:hover {
    opacity: 1;
    color: #aaa;
}